.form {
	background: rgb(174, 179, 42);
}

.strain-card {
	/* border: solid; */
	display: flex;
	height: 90%;
	margin: auto;
}

.favorites-card {
	/* border: solid blue; */
	display: flex;
	flex-direction: column;
	margin: auto;
	height: 90%;
	width: 100%;
}

.favorites-card span {
	display: flex;
	justify-content: space-evenly;
	width: 75%;
	margin: 3% auto;
	/* border: solid red; */
}

.favorites-content {
	/* border: solid orange; */
	display: flex;
	margin: 0;
	flex-direction: column;
	align-content: center;
	text-align: center;
}

.favorites-content p {
	padding: 1%;
	margin: 2.5% auto;
	/* border: solid red; */
	min-height: 6vh;
	max-height: 130px;
	width: 100%;
	align-content: center;
	text-align: justify;
	text-justify: inter-word;
}

.fas:hover {
	color: rgb(98, 46, 71, 0.8);;
	cursor: pointer;
}

.edit-fave-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	background: rgb(174, 179, 42);
	color: rgb(244, 246, 222);

	border-radius: 6px;
	box-sizing: border-box;
	/* box-shadow: 0 12px 16px 0 rgba(188, 70, 40, 0.24),
		0 17px 50px 0 rgba(98, 0, 0, 0.19); */
}

.edit-fave {
	background: rgb(174, 179, 42);
	display: flex;
	font-family: "Nunito", sans-serif;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
	color: rgb(244, 246, 222);
}

.edit-fave-container span {
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	/* width: 100%; */
	
	/* border: solid red; */
}

.fave-button {
	font-family: "Nunito", sans-serif;

	width: 100%;
	border: none;
	border-radius: 6px;
	color: rgb(244, 246, 222);
	background: rgb(55, 87, 34);
}

.fave-button:hover {
	/* box-shadow: 0 12px 16px 0 rgba(188, 70, 40, 0.24),
		0 17px 50px 0 rgba(98, 0, 0, 0.19); */
		cursor:pointer;
		background-color: rgb(98, 46, 71, 0.8);
		color: rgb(244, 246, 222);


}
.fave-button:active {
	color: rgb(244, 246, 222);
	transform: translateY(4px);
}

.fave-button:focus{
	background-color: rgb(98, 46, 71, 0.8);

}

.fave-input {
	font-family: "Montserrat", sans-serif;
	width: 230px;
	text-align: center;
	font-size: 1em;
	border: none;
	border-radius: 6px;
	color: rgb(244, 246, 222);
	/* font-weight: bold; */
	background: rgb(55, 87, 34);
}

.fave-input:focus{
	background: rgb(55, 87, 34);
	color:rgb(244, 246, 222);
}

.fave-input.textarea::placeholder {
	color: rgb(174, 179, 42, 0.6);
}

.fave-input.textarea {
	height: 100px;
	/* height: 100%; */
	/* width:100%; */
	/* max-width: 340px; */
}

